@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

:root {

}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.main-weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;          
}

.main-weather-block {
  color: whitesmoke;
  font-family: 'Manrope', sans-serif;

  display: flex;   
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 0;
  line-height: 0;
  margin: 0 auto;
  width: 20%;

  text-align: center;
  padding-top: 5%;
}

.main-weather-block__weather {
  font-size: 900%;
}

.main-weather-block__time {
  font-size: 250%;
}


.weather-block:hover {
    transform: translateY(-5px); 
}